body{
  background: #f3f3f3;
  font-family: 'helvetica';
}

#wrapper{
  width:900px;
  margin:30px auto;
}

.followers-container{
  background:#FFF;
  width:284px;
  float:left;
  margin-right:40px;
}